.ViewAllClassbB{
    color: gray;
    margin-left: 1rem;
}
.ClassDImargIg{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.BillsRecharGeiconSWIdth{
    width: 15rem;
    margin-top: 3rem;
    border-radius: 10px;
}
.BackGRouNdCoLORForBIllWECOLRE{
    background-color: white;
    height: 16rem;
    
}
.AllIcoNeInASingleDiveNIne{
    width: 850px;
}
.MenuOfBillsANdRechagrgeMAinNine{
    width: 860px;
}
.MArginTOpIMG{
    margin-top: 4rem;
}
.HomeTHreeFinalDivBGBG{
    height:44vh ;
}