.LayoutImmg{
    -webkit-filter: brightness(35%);
    filter: brightness(35%);
    width: 100%;
    height: 100.01vh;
    position: absolute;
}
.LoginCenterPage{
    position: relative;
    /* background-color:burlywood; */
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.MAinAndITsSignIN{
    display: flex;
    background-color: rgb(255, 255, 255); 
    height: 50vh;
    width: 60%;
    border-radius: 10px;
}
.InsideofCenterdivsign{
    background-color: #002a53;
    /* margin-top: 7rem; */
    width: 50%;
    height: 100%;
    border-radius: 10px 0 0 10px;
    /* position: absolute; */
    display: flex;
    flex-direction: column;
}

.SecondDivinSideofLogin{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px black;
    width: 50%;
    height: 50vh;
    border-radius: 10px;
    /* margin-left: 21.5rem; */

}
.MYACCOUNTTEXTINSIGNin{
    color: white;
    font-size: 10px;
    font-weight: 400;
    margin-top: 1rem;

}
#MYACCOUNTTEXTINSIGNin{
    color: white;
    font-weight: bold;
    font-size: 15px;
    width: 25rem;
    margin-left: 0.7rem;
}
.Blubimg{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: .3rem;
}
.SpantextONeinsignleft{
    display: flex;
    flex-direction: column;
    
}
#SpantextONeinsignleft{
    display: flex;
    width: 100%;
    justify-content: space-evenly;

}
#SpantextONeinsignleftTWo{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* background-color: rgb(46, 163, 124); */

}
#SpantextONeinsignleftThree{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    /* background-color: aquamarine; */

}
.PreApprovedSignPAge{
    color: white;
    font-size: 14px;
    font-weight: 500;

}
.PreApprovedSignPAgetwo{
    color: white;
    font-size: 13px;
    width: 15rem;
    font-weight: 500;
}
#MYACCOUNTTEXTINSIGNinDIV{
    /* background-color: aqua; */
    width: 18%;
    display: flex;
    justify-content: end;
}
#MYACCOUNTTEXTINSIGNinDIVTWooo{
    /* background-color: blue; */
    width: 70%;
    display: flex;
    justify-content: end;
}
.LeftSideSignINPAgeAlignMEntWithMAinDIv{
    /* background-color: chartreuse; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
height: 15rem;
width: 70%;
align-items: center;
}
.clsoebuttonimgwidth{
    width: .85rem;
}
.ButtonAligmentS{

    display: flex;
    width: 96%;
    margin-top: .55rem;
justify-content: end;
}
.RegisterDIVSIGn{
    font-size: 25px;
    color: #002a53;
    font-weight: 650;
width: 75%;

}
.SelectanAccounttype{
    color: gray;
    font-size: 13px;
}
.NriIndividualBusinessdiv{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin-top: .5rem;
}
#Individual{
color: black;
font-size: 12px;
border-bottom: 4px solid orangered;
border-radius: 0 0  5px 5px;

}
#Corporate{
color: gray;
font-size: 12px;
}
#NRI{
color: gray;
font-size: 12px;
}
.InoutForNUmberSg{
outline: none;
border: none;
border-bottom: 1px solid rgba(128, 128, 128, 0.589);
z-index: 100;
width: 75%;
    
}
.InputAnditstext{
    display: flex;
    flex-direction: column;
    margin-top: rem;
    /* justify-content: center;
    align-items: center; */
}
.EnterYourTenDigital{
    font-size: 10px;
    color: gray;
}
.GETOTPSIZZANDColor{
    color: white;
    font-weight: 600;
}
.GETOTPSIZZANDColorER{
    background-color: orangered;
    width: 75%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    text-align: center;
    height: 2.5rem;
    align-items: center;
    margin-top: 1rem;
}
.ButtonAligmentOfMArk{
    height: 45vh;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}